body {
    font-family: Georgia, serif;
}

h1, h2 {
    color: darkblue;
}

.evenrow {
    background-color: lightgray;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

.border {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Proficiency colors */
.beginner {
    color: green;
}

.intermediate {
    color: rgb(175, 175, 33);
}

.advanced {
    color: red;
}